.container-1{
    width: 100%;
    height: auto;
    display: flex;
     border: 2px dashed skyblue;
    /* Jarak */
    gap: 20px;
    padding: 20px;
    flex-direction: row;
    /* row | row-reverse | column | column-reverse*/
    justify-content: center;
}

.item{
    width: 80px;
    height: 80px;
    border:1px solid palevioletred;
    background-color: yellow;
}


.container-2{
    width: 100%;
    height: auto;
    display: flex;
    border: 2px dashed skyblue;
    /* Jarak */
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    /* row | row-reverse | column | column-reverse*/
}


.nav{
    border-bottom: 1px solid;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
    border-left: 1px solid;
    height: 100%;
}
